<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.ow2.fractal/mindide/mind.ide.ecore/1.0.0"
            class="org.ow2.fractal.mind.ide.emf.mindide.MindidePackage"/>
   </extension>

</plugin>
