
import java.util.*;

public class foo {

  public $tmpl1(int i) {
    Helloworld foo 123bar !
    <%if (i == 0) {%>
      Bye
    <%}
      HashMap<String, String> m = new HashMap<String, String>();
    %>
    <m.get("foo")>
    foreach 1: <String s : m.values() | {foo_<$tmpl2(s)>}>
    foreach 2: <String s : m.values() | s.substring(2,3); null="void">
    
    
    <% String[] array = new String[]{"toto", "titi"}; %>
    foreach 3: <String s : array | s.substring(2,3); separator="\n">
    foreach 4: <String s : array | s.substring(2,3); null="{}">
    
    m1=<(m==null)?"":m.toString()>
    m2=<(m!=null)?m.toString()>
    m3=<(m!=null)?$tmpl2(m.toString())>
    m4=<m;null="">
  }

  private $tmpl2(String s) {
    <s.substring(2,3)>
  }
}