<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.ow2.fractal.mind.cadse.builder"
         name="Mind cadse Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.ow2.fractal.mind.ide.MindIdeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.ow2.fractal.mind.nature"
         name="Mind Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.ow2.fractal.mind.ide.MindNature">
         </run>
      </runtime>
      <builder
            id="org.ow2.fractal.mind.cadse.builder">
      </builder>
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
   </extension>
      <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
      <extension
            point="org.eclipse.emf.ecore.factory_override">
         <factory
               class="org.ow2.fractal.mind.ide.impl.MindideFactoryImplCustom"
               uri="http://org.ow2.fractal/mindide/mind.ide.ecore/1.0.0">
         </factory>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="org.ow2.fractal.mind.ide.property.MindPropertyTester"
               id="org.ow2.fractal.mind.ide.mindproject-open"
               namespace="org.eclipse.core.resources"
               properties="open"
               type="org.ow2.fractal.mind.ide.impl.MindProjectImpl">
         </propertyTester>
         <propertyTester
               class="org.ow2.fractal.mind.ide.property.MindPropertyTester"
               id="org.ow2.fractal.mind.ide.propertyTester1"
               namespace="org.eclipse.core.resources"
               properties="open"
               type="org.ow2.fratal.mind.ide.emf.mindide.MindRepo">
         </propertyTester>
      </extension>
      <extension
            point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      </extension>

</plugin>
