<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="adl.presentation.AdlModelWizardID"
            name="%_UI_AdlModelWizard_label"
            class="adl.presentation.AdlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdlModelFile.gif">
         <description>%_UI_AdlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="adl.presentation.AdlEditorID"
            name="%_UI_AdlEditor_label"
            icon="icons/full/obj16/AdlModelFile.gif"
            extensions="adl"
            class="adl.custom.presentation.AdlCustomEditor"
            contributorClass="adl.presentation.AdlActionBarContributor">
      </editor>
   </extension>

</plugin>
